/*Adriana Herrero Gonzalez UO287543*/
/* Esquemas de posicionamiento del proyecto MotoGP-Desktop*/


/* Especificidad 001 */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
}

/* Especificidad 001 */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

/* Especificidad 002*/
body>div {
    width: 100%;
    height: auto;
}


@media (min-width: 320px) and (max-width: 799px) {

    /* Especificidad 001 */
    header {
        flex-direction: column;
        /* Advertencia: redefinición ya que la dirección de los elementos 
                                cambia en el móvil: pasa de row a column*/
    }

    /* Especificidad 002 */
    header h1 {
        text-align: center;
        width: 100%;
    }

    /* Especificidad 001 */
    nav {
        flex-direction: column;
        /* Advertencia: redefinición ya que la dirección de los elementos 
                                cambia en el móvil: pasa de row a column*/
    }

    nav a {
        display: block;
        width: 100%;
        text-align: center;
    }

    /* Especificidad 011 */
    header+p {
        display: none;
    }


    /* Especificidad 001 */
    video {
        width: 100%;
        height: auto;
    }

    /* Especificidad 001 */
    audio {
        width: 100%;
    }

    /* Especificidad 003 */
    article h2+img {
        width: 100%;
        height: auto;
    }

    /* Especificidad 002 */
    section img {
        max-width: 100%;
        height: auto;
    }

    /* Especificidad 002 */
    section a {
        display: inline-block;
        /* Para que se comporte como bloque dentro del párrafo */
        word-wrap: break-word;
        /* Rompe la palabra si es muy larga */
        overflow-wrap: break-word;
        /* Compatibilidad con navegadores modernos */
        max-width: 100%;
        /* No exceda el ancho del contenedor */
    }


    /* Especificidad 002 */
    body>div {
        width: 100%;
        /* Advertencia: redifinición del tamaño del mapa en móviles*/
        height: 100vh;
        /* Advertencia: redifinición del tamaño del mapa en móviles*/
    }



}