/*Adriana Herrero Gonzalez UO287543*/

/* Contenedor principal en grid */
/* Especificidad (0,0,1)*/
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;

}

/* Especificidad (0,0,2)*/
main h2 {
  grid-column: 1 / -1;  /* Título ocupa toda la primera fila */

}

@media (min-width: 320px) and (max-width: 799px) {

    /* Especificidad (0,0,1)*/
    main {
        grid-template-columns: repeat(2, 1fr); /* Advertencia: redefinición del número de columnas para hacerlo adaptable a móviles ( de 4 a 2 columnas) */
    }

}